:root {
    --main: #391866;
    --red: #dd314e;
}

body {
    font-family: Mulish !important;
    background-color: #f4f4f4;
}

/* Utilities */
.text-main { color: var(--main) !important; }
.bg-main { background-color: var(--main) !important; }
.text-red { color: var(--red) !important; }
.bg-red { background-color: var(--red) !important; }

.btn-white {
    color: var(--red) !important;
    background: white !important;
}
.btn-red {
    background-color: var(--red) !important;
    color: white !important;
}
.move-icon i {
    transition: .3s;
}
.move-icon:hover i {
    transition: .3s;
    margin-left: 6px;
}
/* / Utilities */

/* Navbar */
.nav-link {
    color: white !important;
    font-weight: bold;
}
/* / Navbar */

.bg-about {
    background-image: url(./../images/bg.jpg);
}

.bg-how-does-it-work {
    background-image: url(./../images/bg-globe.png);
}
/* / Footer */

.rounded {
    border-radius: 5px !important;
}
footer {
  position: relative;
  padding: 50px 0;
}

footer .logo-footer {
  font-size: 28px;
}

footer.footer-bar {
  padding: 30px 0;
  border-top: 1px solid #ffffff;
}

footer .footer-text {
  color: #adb5bd;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .footer-text:hover {
  color: #dee2e6;
}
/* / Footer Ends here */